<div class="row">
  <div class="col-xs-12">

    <!-- SIGNUP FORM  -->
    <div class="signup">
       <div class="header">
         <h1>The affordable, easier way to transport stuff across the country</h1>
         <h2>Harry is an app that makes it safe, efficient, and convenient to get items from A to B. It connects people who are going places to people who need stuff to go places.</h2>
       </div>
       <div class="harry-logo"><img src="../resources/harry-logo.svg" alt=""></div>
       <form>
         <div class="input-group-form">
            <input class="form-text" type="text" placeholder="Name" ng-model="name" required="" />
        </div>
        <div class="input-group-form">
            <input class="form-text" type="email" placeholder="Email" ng-model="email" required="" />
        </div>
         <input class="form-submit" type="submit" value="TELL ME MORE" ng-click="submit()"/>
         <div class="success-message" style="display:none">Thanks Harry will be in touch!</div>
       </form>
      <div>
        <div class="social">
            <a href="https://twitter.com/harryappnz" target="_blank" class="icon-twitter"></a>
            <a href="https://www.facebook.com/harryapp/" target="_blank" class="icon-facebook"></a>
            <a href="https://www.instagram.com/harryappnz/" target="_blank" class="icon-instagram"></a>
        </div>
      </div>
    </div>
  </div>
</div>
